.animalCard {
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  text-align: center;
}

.animalCardImage {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 16px;
}
